openapi: 3.2.0
info:
  title: DagsHub REST Pull Requests API
  description: DagsHub's REST API mirrors the Gitea API for repositories, issues, pull requests, branches, and users, with DagsHub-specific extensions for data storage (DVC/S3), data engine queries, and storage integrations. Authenticates with an API token via Bearer header or basic auth.
  version: 1.0.0
servers:
- url: https://dagshub.com/api/v1
  description: DagsHub REST API base URL
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Pull Requests
paths:
  /repos/{owner}/{repo}/pulls:
    parameters:
    - in: path
      name: owner
      required: true
      schema:
        type: string
    - in: path
      name: repo
      required: true
      schema:
        type: string
    get:
      tags:
      - Pull Requests
      summary: List pull requests
      responses:
        '200':
          description: Pull requests
      operationId: getReposByOwnerByRepoPulls
      x-operation-id-source: derived
    post:
      tags:
      - Pull Requests
      summary: Create a pull request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              - head
              - base
              properties:
                title:
                  type: string
                body:
                  type: string
                head:
                  type: string
                base:
                  type: string
      responses:
        '201':
          description: Pull request
      operationId: postReposByOwnerByRepoPulls
      x-operation-id-source: derived
  /repos/{owner}/{repo}/pulls/{index}:
    parameters:
    - in: path
      name: owner
      required: true
      schema:
        type: string
    - in: path
      name: repo
      required: true
      schema:
        type: string
    - in: path
      name: index
      required: true
      schema:
        type: integer
    get:
      tags:
      - Pull Requests
      summary: Get a pull request
      responses:
        '200':
          description: Pull request
      operationId: getReposByOwnerByRepoPullsByIndex
      x-operation-id-source: derived
    patch:
      tags:
      - Pull Requests
      summary: Edit a pull request
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
      operationId: patchReposByOwnerByRepoPullsByIndex
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: DagsHub access token sent as a Bearer token.
    basicAuth:
      type: http
      scheme: basic
      description: Username and DagsHub access token via HTTP Basic auth.
