openapi: 3.1.0
info:
  title: DagsHub REST Branches User API
  description: DagsHub's REST API mirrors the Gitea API for repositories, issues, pull requests, branches, and users, with DagsHub-specific extensions for data storage (DVC/S3), data engine queries, and storage integrations. Authenticates with an API token via Bearer header or basic auth.
  version: 1.0.0
servers:
- url: https://dagshub.com/api/v1
  description: DagsHub REST API base URL
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: User
paths:
  /version:
    get:
      tags:
      - User
      summary: Get API version
      responses:
        '200':
          description: Version info
  /user:
    get:
      tags:
      - User
      summary: Get the authenticated user
      responses:
        '200':
          description: User
  /user/repos:
    get:
      tags:
      - User
      summary: List repositories owned by the authenticated user
      responses:
        '200':
          description: Repositories
    post:
      tags:
      - User
      summary: Create a repository for the authenticated user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                description:
                  type: string
                private:
                  type: boolean
                auto_init:
                  type: boolean
      responses:
        '201':
          description: Repository created
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: DagsHub access token sent as a Bearer token.
    basicAuth:
      type: http
      scheme: basic
      description: Username and DagsHub access token via HTTP Basic auth.
