openapi: 3.1.0
info:
  title: DagsHub REST Branches Repos API
  description: DagsHub's REST API mirrors the Gitea API for repositories, issues, pull requests, branches, and users, with DagsHub-specific extensions for data storage (DVC/S3), data engine queries, and storage integrations. Authenticates with an API token via Bearer header or basic auth.
  version: 1.0.0
servers:
- url: https://dagshub.com/api/v1
  description: DagsHub REST API base URL
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Repos
paths:
  /repos/{owner}/{repo}:
    parameters:
    - in: path
      name: owner
      required: true
      schema:
        type: string
    - in: path
      name: repo
      required: true
      schema:
        type: string
    get:
      tags:
      - Repos
      summary: Get repository metadata
      responses:
        '200':
          description: Repository
    delete:
      tags:
      - Repos
      summary: Delete a repository
      responses:
        '204':
          description: Deleted
  /repos/{owner}/{repo}/contents/{path}:
    parameters:
    - in: path
      name: owner
      required: true
      schema:
        type: string
    - in: path
      name: repo
      required: true
      schema:
        type: string
    - in: path
      name: path
      required: true
      schema:
        type: string
    - in: query
      name: ref
      schema:
        type: string
    get:
      tags:
      - Repos
      summary: Get file or directory contents
      responses:
        '200':
          description: Contents
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: DagsHub access token sent as a Bearer token.
    basicAuth:
      type: http
      scheme: basic
      description: Username and DagsHub access token via HTTP Basic auth.
