openapi: 3.2.0
info:
  title: DagsHub REST Users API
  description: DagsHub's REST API mirrors the Gitea API for repositories, issues, pull requests, branches, and users, with DagsHub-specific extensions for data storage (DVC/S3), data engine queries, and storage integrations. Authenticates with an API token via Bearer header or basic auth.
  version: 1.0.0
servers:
- url: https://dagshub.com/api/v1
  description: DagsHub REST API base URL
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Users
paths:
  /users/{username}:
    get:
      tags:
      - Users
      summary: Get a user by username
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User
      operationId: getUsersByUsername
      x-operation-id-source: derived
  /users/{username}/repos:
    get:
      tags:
      - Users
      summary: List repositories for a user
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Repositories
      operationId: getUsersByUsernameRepos
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: DagsHub access token sent as a Bearer token.
    basicAuth:
      type: http
      scheme: basic
      description: Username and DagsHub access token via HTTP Basic auth.
